{
  "name": "NotifyCleanLocation",
  "description": "Notification of Cleaning Location",
  "region": "ap-northeast-1",
  "handler": "notify.lambda_handler",
  "role": "arn:aws:iam::XXXXXXXXXXXX:role/XXXXXXXXXX",
  "timeout": 300,
  "memory": 128,
  "variables":
    {
      "slackPostURL":"https://hooks.slack.com/services/XXXXXXXX",
      "slackChannel":"#XXXXXXXX"
    }
}
